<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <app-update-nutritional
        [nutritional]="updatedNut"
        (nutritionalUpdated)="nutritionalUpdated($event)"
        [ajout]="ajout"
      ></app-update-nutritional>
    </div>
  
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nutritional Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (nut of nutritionals; track nut.idNutri) {
            <tr>
              <td>{{ nut.idNutri }}</td>
              <td>{{ nut.nomNutri }}</td>
              <td>
                <button class="btn btn-success" (click)="updateNut(nut)">Editer</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>